*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    user-select: none;
    touch-action: none;
    color: black;
}
#main{
    padding: 5px;
    display: grid;
    width: 260px;
    gap: 5px;
    grid-template-columns: repeat(3, 80px);
    margin-bottom: 3vh;
}
.gg{
    height: 80px;
    width: 80px;
    background-position: center;
    background-color: grey;
    background-repeat: no-repeat;
}
.gg:hover{
    cursor: pointer;
}
#fin{
    margin-top: 2vh;
    width: 260px;
    height: 260px;
    background-color: black;
}
#submit{
    margin-top: 9vh;
    background-color: grey;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    border: solid;
    border-width: 4px;
}
#submit:hover{
    cursor: pointer;
}
h1{
    margin-top: 10vh;
    margin-bottom: 0;
}
#mega{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(138, 138, 138, 0.306);
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
}
#xsc{
    margin-top: 11vh;
    margin-right: 9vw;
}
#osc{
    margin-top: 11vh;
    margin-left: 9vw;
}
